.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  width: 20vw;
  margin: 25px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding-inline-start: 20px;
}

.text-gray {
  color: gray
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list-item {
  margin: auto 20px;
}

.car-container {
  margin: 50px;
}

.car-paper {
  padding: 50px;
}

.car-info{
  display: flex;
  justify-content: center;
}

.card-info {
  width: 30vw;
  margin: 25px;
}

.card-info div{
  display: flex;
  flex-wrap: wrap;
}

.car-card ul{
  background-color: rgb(198, 198, 198);
  padding: 10px;
  border-radius: 20px;
}

